<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
     <% include partials/head.ejs %>

</head>
<body>

    <div id="loginbox">
      <form action="/user/login" method="post">
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" placeholder="Username" name="username">
        </div>
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="input-group">
          <input type="submit" class="form-control" />
        </div>
      </form>
    </div>

 <% include partials/footer.ejs %>
</body>